<p>First name: <%= @patient.first_name%></p>
<p>Last name: <%= @patient.last_name%></p>

<p>Doctors:</p>
<% if @patient.doctors.any? %>
  <%@patient.doctors.each do |doc| %>
    <%= doc.full_name %>
    <br>
  <% end %> 

<% end %>

<ul style="list-style:none; padding: 0;">
  <li ><%= link_to "Edit", edit_patient_path(@patient)%></li>
</ul>


