<p>First name: <%= @patient.first_name%></p>
<p>Last name: <%= @patient.last_name%></p>
<p>Doctors:</p>
<%= render @patient.doctors%> doctor

<ul style="list-style:none;">
  <li ><%= link_to "Edit", edit_patient_path(@patient)%></li>
</ul>

